---
layout: default
title: Games
---

<div class="posts">
  {% for post in site.categories.games %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        <p>{{ post.description }}</p>
        <img src="{{ post.image }}">
        {% if post.download %}
        <p>Download: 
          {% if post.download.ios %}<a href="post.download.ios">iOS</a>{% if post.download.android or post.download.windows%}|{% endif %}{% endif %}
          {% if post.download.android %}<a href="post.download.android">Android</a>{% if post.download.windows%}|{% endif %}{% endif %}
          {% if post.download.windows %}<a href="post.download.windows">Windows</a>{% endif %}
        </p>
        {% else %}
        <p>Unreleased</p>
        {% endif %}
      </div>

    </article>
  {% endfor %}
</div>
