---
layout: default
---

<div class="posts">
<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <p>{{ page.description }}</p>
    <img src={{ page.image }}>
    {% if page.downloads %}
    <p>Download: 
      {% if page.downloads.ios %}<a href="{{ page.downloads.ios }}">iOS</a>{% if page.downloads.android or page.downloads.windows %} | {% endif %}{% endif %}
      {% if page.downloads.android %}<a href="{{ page.downloads.android }}">Android</a>{% if page.downloads.windows%} | {% endif %}{% endif %}
      {% if page.downloads.windows %}<a href="{{ page.downloads.windows }}">Windows</a>{% endif %}
    </p>
    {% else %}
    <p>Unreleased</p>
    {% endif %}
  </div>
</article>
  
{% for post in site.categories.blog %}
{% if post.gametitle == page.title %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
{% endif %}
{% endfor %}
  
</div>
