---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <p>{{ page.description }}</p>
    <img src="{{ page.image }}">
    {% if page.download %}
    <p>Download: 
      {% if page.download.ios %}<a href="{{ page.download.ios }}">iOS</a>{% if page.download.android or page.download.windows %} | {% endif %}{% endif %}
      {% if page.download.android %}<a href="{{ page.download.android }}">Android</a>{% if page.download.windows%} | {% endif %}{% endif %}
      {% if page.download.windows %}<a href="{{ page.download.windows }}">Windows</a>{% endif %}
    </p>
    {% else %}
    <p>Unreleased</p>
    {% endif %}
    {% if content != null %}
    <br>
    {{ content }}
    {% endif %}
  </div>

  {% include disqus.html %}
</article>
