---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    <p>{{ page.description }}</p>
    <img src="{{ page.image }}">
    {% if page.downloads %}
    <p><em>Download:</em> 
      {% if page.downloads.ios %}<a href="{{ page.downloads.ios }}">iOS</a>{% if page.downloads.android or page.downloads.windows %} | {% endif %}{% endif %}
      {% if page.downloads.android %}<a href="{{ page.downloads.android }}">Android</a>{% if page.downloads.windows%} | {% endif %}{% endif %}
      {% if page.downloads.windows %}<a href="{{ page.downloads.windows }}">Windows</a>{% endif %}
    </p>
    {% else %}
    <p>Unreleased</p>
    {% endif %}
  </div>

  {% include disqus.html %}
</article>

{% if page.screenshots %}
<article class="post">
  <h1>Screenshots</h1>
  <div class="entry">
    {% for screenshot in page.screenshots %}
      <img src="{{ screenshot }}">
    {% endfor %}
  </div>
</article>
{% endif %}
